/* Style global */
*{
    margin: 0;
    padding: 0;
}

body{
    background: #ccc;
}

.header{
    background: white;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* Style header */
.logo{
    left: 15%;
    bottom: 22%;
    position: relative;
}

.lead {
    font-size: 15px;
    color: pink;
    position: relative;
    bottom: 45px;
    left: 34px;
}
nav {
    margin-bottom: 20px;
}

nav a{
    font-size: 25px;
    color: #fff !important;
}

nav a:first-child{
    background: red !important;
}

/* Style bandeau */
.image img{
    width: 1120px;
    margin-left: 1.3%;
}

/* Style div */
.d3{
    width: 100.6%;
    background: #fff;
    margin-left: 0.1%;
}

.d3 h3 {
    color: aqua;
}

.border1{
    border-right: 1px solid #ccc;
}

.d4{
    margin: 1%;
    border: 1px solid #000;
    border-radius: 4%;
    box-shadow: 18px 5px 5px #ddd;
}

.d4 h4{
    width: 109.5%;
    padding: 0;
    margin: 0px;
    position: relative;
    right: 15px;
    border-radius: 4%;
}

.d4 a {
    float: right;
    font-size: 1.3em;
}

/* Style footer */
footer{
    color: #fff;
    height: 10%;
    line-height: 4;
}

footer ul{
    margin-left: 10%;
}
